modal_encoder/*bind*
modal_encoder/*pt*
modal_encoder/.cache
modal_encoder/*checkpoint*
__pycache__
datasets
features_storage/
results_storage/
*.sh
vggs_imagebind
train_output
nyud*/
vggs*/
msrvtt*/
run_sh/
.vscode/
results/